@model ProjetCRA.Models.MISSIONJOUR


@{
    ViewBag.Title = "AjouterMissionJour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Ajouter une mission dans le calendrier</h2>
<br />

<div class="row align-items-center justify-content-center">
    <form class="form-horizontal" action="/MissionJour/AjouterMissionJourX" method="post">

        <div class="form-group">
            <label for="MISSION_CODE">Code mission :</label>
            <div class="col-sm-12">
                <select class="form-control" id="MISSION_CODE" name="MISSION_CODE">
                    @foreach (var data in ViewBag.MissionsDisponibles)
                    {
                        <option>@data.Code</option>
                    }
                </select>
            </div>
        </div>


        <div class="form-group">
            <label for="TEMPS_ACCORDE">Temps accordé * : </label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="TEMPS_ACCORDE" name="TEMPS_ACCORDE" required>
            </div>
        </div>


        <input type="hidden" class="form-control" id="ETAT" name="ETAT" value="NonSauvegardé">


        <div class="form-group">
            <label for="JOUR">Date :</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" value=@ViewBag.dateJour disabled="disabled">
                <input type="hidden" class="form-control" id="JOUR" name="JOUR" value=@ViewBag.dateJour>
            </div>
        </div>

        <div class="form-group">
            <div class="row align-items-center justify-content-center">
                <input type="submit" id="ajouterMission" name="ajouterMission" value="Ajouter" class="btn btn-primary" />
                <a href="~/Home/InterfaceUser/@ViewBag.numSemaine" class="btn btn-default">Retour</a>
            </div>
        </div>
    </form>
</div>
<p class="font-italic text-center">
    <br />Le temps correspondant à une mission doit être compris entre 0 et 1.
    <br />1 correspond à la totalité de la journée.
</p>

<br />
<br />

<h3>Liste des missions disponibles</h3>
<div>
    <div class="table-responsive text-center">
        <table class="table table-bordered">
            <tr>
                <th>Code</th>
                <th>Libellé</th>
                <th>Du</th>
                <th>Au</th>
            </tr>

            @foreach (var data in ViewBag.MissionsDisponibles)
            {
                <tr>
                    <td>@data.Code</td>
                    <td>@data.Libelle</td>
                    <td>@data.DateDebut.ToString("dd/MM/yyyy")</td>
                    <td>@data.DateFin.ToString("dd/MM/yyyy")</td>
                </tr>
            }
        </table>
    </div>
</div>
