@model ProjetCRA.Models.EmployeMoisView
@{
    ViewBag.Title = "MissionsEnCoursEmploye";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Détails employé</h2>

<div style="text-align:center">
    <b>Matricule</b> : @ViewBag.Matricule <br />
    <b>Nom</b> : @ViewBag.Nom <br />
    <b>Prénom</b> : @ViewBag.Prenom <br />
</div>

<br />

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Missions en cours</a>
    </li>

    <li class="nav-item">

        <form method="post" action="/MissionJour/MissionsArchiveesEmploye">
            <div asp-validation-summary="ModelOnly" class="text-danger">

                <div class="form-group" style="margin:0px; padding:0px">
                    <input id="Matricule" name="Matricule" type="hidden" value=@ViewBag.Matricule />
                    <input id="Nom" name="Nom" type="hidden" value=@ViewBag.Nom />
                    <input id="Prenom" name="Prenom" type="hidden" value=@ViewBag.Prenom />
                    <input id="JourMois" name="JourMois" type="hidden" value=@DateTime.Now />
                </div>
                <div class="form-group">
                    <input type="submit" value="Missions archivées" class="btn btn-link" />
                </div>
            </div>
        </form>
    </li>
</ul>


<div class="table-responsive text-center">
    <table class="table table-bordered">
        <tr>
            <th>Code</th>
            <th>Libellé</th>
            <th>Date de début</th>
            <th>Date de fin</th>
        </tr>

        @foreach (var data in ViewBag.ListeMissions)
        {
            <tr>
                <td>@data.Code</td>
                <td>@data.Libelle</td>
                <td>@data.DateDebut.ToString("dd/MM/yyyy")</td>
                <td>@data.DateFin.ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </table>
</div>

<br/>
<a href="~/Utilisateur/AdminListeEmployes" class="btn btn-primary">Retour</a>