
@{
    ViewBag.Title = "RapportActiviteMensuel";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center">Rapport d'activité mensuel</h2>

<div class="row align-items-center justify-content-center">
    <table>
        <tr>
            <td>
                <form method="post" action="/Utilisateur/RapportActiviteMensuel">
                    <div asp-validation-summary="ModelOnly" class="text-danger">

                        <div class="form-group">
                            <input id="Matricule" name="Matricule" type="hidden" value=@ViewBag.Matricule />
                            <input id="Nom" name="Nom" type="hidden" value=@ViewBag.Nom />
                            <input id="Prenom" name="Prenom" type="hidden" value=@ViewBag.Prenom />
                            <input id="JourMois" name="JourMois" type="hidden" value=@ViewBag.JourMoisPrecedent />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Mois précédent" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </td>

            <td style="text-transform: capitalize;"><h3>   @ViewBag.MoisActuel   </h3></td>
            <td>
                <form method="post" action="/Utilisateur/RapportActiviteMensuel">
                    <div asp-validation-summary="ModelOnly" class="text-danger">

                        <div class="form-group">
                            <input id="Matricule" name="Matricule" type="hidden" value=@ViewBag.Matricule />
                            <input id="Nom" name="Nom" type="hidden" value=@ViewBag.Nom />
                            <input id="Prenom" name="Prenom" type="hidden" value=@ViewBag.Prenom />
                            <input id="JourMois" name="JourMois" type="hidden" value=@ViewBag.JourMoisSuivant />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Mois suivant" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>



<div style="text-align:center">
    <b>Matricule</b> : @ViewBag.Matricule <br />
    <b>Nom</b> : @ViewBag.Nom <br />
    <b>Prénom</b> : @ViewBag.Prenom <br />
</div>







<br />
<h5><b>Missions du mois :</b></h5>

@{
    if (ViewBag.ListeMissionsMois.Count != 0)
    {
        double res = 0;

        <div>
            <div class="table-responsive text-center">
                <table class="table table-bordered">

                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Libellé</th>
                        <th scope="col">Temps total</th>
                    </tr>

                    @foreach (var data in ViewBag.ListeMissionsMois)
                    {
                        <tr>

                            <td>@data.Code</td>
                            <td>@data.Libelle</td>
                            <td>@data.TempsTotal</td>

                        </tr>
                        res += @data.TempsTotal;
                    }


                </table>
            </div>


        </div>

        <div class="table-responsive text-center">
            @if (res >= 0 && res <= 1)
            {
                <h6><b>Nombre de jour travaillé : </b>@res</h6>
            }
            else
            {
                <h6><b>Nombre de jours travaillés : </b>@res</h6>
            }
        </div>


    }
    else
    {
        if (@ViewBag.MoisActuel == "octobre" || @ViewBag.MoisActuel == "avril" || @ViewBag.MoisActuel == "août")
        { <p class="font-italic text-center">Aucune mission réalisée durant le mois d'<span style="text-transform: capitalize;">@ViewBag.MoisActuel. </span></p>}
    else
    { <p class="font-italic text-center">Aucune mission réalisée durant le mois de <span style="text-transform: capitalize;">@ViewBag.MoisActuel. </span></p> }

}
}

<br />
<a href="~/Utilisateur/AdminListeEmployes" class="btn btn-primary">Retour</a>